@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
ul{
    margin: 0 -25px;
}
a{
    text-decoration: none;
}
/* Header CSS*/
.nav-hov li{
    transition: .3s;
}
.nav-hov li:hover{
    color: red !important;
}
.blue{
    color: #3F87F5;
    background-color: rgb(255, 254, 254);
    font-weight: 600;
    margin-left: 34px;
}
.blue:hover{
    color: #211E4F !important;
}
.blue-btn{
    background-color: #3F87F5;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    border: 0;
    transition: .3s;
}
.blue-btn:hover{
    background-color: #ddd ;
    color: #3F87F5;
}
.card{
    border: 0 !important;
}
.card>ul>li{
    padding: 8px 0 !important;
}
.w-pro{
    border: 2px solid #211E4F;
    border-radius: 20px;
    padding: 15px;
}
.bg-foot{
    margin-top: 30px;
    background-color: #0e0d1d;
    padding: 60px;
}
.foot-txt{
    text-align: left;
    margin-top: 63px;
    font-size: 14px;
    color: #ddd;
}
.img-info{
    display: none;
}
.single-img:hover .img-info{
    display: block;
}